.experience-container {
	padding-top: 30px;
	min-height: calc(100vh - 30px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.experience-card {
	width: 80%;
	height: 33vh;
	border-radius: 5px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
	color: black;
	padding: 2%;
	margin: 0;
	background: 
		linear-gradient(
		  rgba(0, 0, 0, 0.15), 
		  rgba(0, 0, 0, 0.0)
		), white;
}

.experience-row-1 {
	width: 95%;
	display: flex;
	justify-content: flex-start;
	margin-left: 5%;
	align-items: center;
}

.experience-row-2 {
	width: 95%;
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
	align-items: center;
}

.job-logo {
	width: 20%;
	padding: 0;
	margin: 0 5%;
	border-radius: 5px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.experience-card *{
	text-align: left;
	margin-left: 0;
}

.experience-card h3 {
	padding-top: 0;
	margin-top: 2px;
	font-size: calc(12px + .8vw);
}

.experience-card ul {
	padding-left: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 60%;
	margin: 3%;
}

.experience-card li, .experience-card p {
/*	font-size: 20px; *//*********/
}


.job-card-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  display: inline;
  margin: 0;
}

.job-card-right {
	display: inline;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.job-card-header {
	display:flex;
}




