

.project-selector-inner {
	display: flex;
	width: 100vw;
	height: 30px;
	align-items: center;
	justify-content: center;
}

button {
	height: 2rem;
	border: .2rem solid rgb(82, 103, 122); 
	border-radius: .2rem; 
	outline: none; 
	font-size: 1rem; 
	width: 15vw;
	margin: 15px 10px 0 10px;
}


button:hover {
	color: #fff; 
	background-color: #B6C4C7; 
	/* transform: translateY(-.3rem); */
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
} 