

.project-selector-inner {
	display: flex;
	width: 100vw;
	height: 30px;
	align-items: center;
	justify-content: center;
}

button {
	height: 4vh;
	border-radius: 5px; 
	outline: none; 
	font-size: 1rem; 
	width: 15vw;
	background-color: white;
	margin: 15px 15px 0 15px;
}


button:hover {
	color: #fff; 
	background-color: rgba(0, 0, 0, .4); 
	transform: translateY(-.1rem); 
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
} 