.main-container {
	top: 30px;
	height: 800px;
	color: white;
}

.main-container h1 {
	font-size: 50px;
}

.info-pic {
	background-image: url('/project-imgs/chicago.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
	font-size: 20px;
	display:flex;
	align-items: center;
}

.info {
	background-color: rgba(0, 0, 0, .7);
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100vw;
}

.skills {
	margin-top: 10px;
	margin-bottom: 30px;
}

.description-main {
	max-width: 800px;
}

.description-container {
	width: 100vw;
	display: flex;
	justify-content: center;
}