.main-container {
	height: 800px;
}

.info-pic {
	background-image: url('/project-imgs/Chicago.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
	font-size: 20px;
}

.info {
	background-color: rgba(0, 0, 0, .5);
	padding: 60px, 0;
}

h1 {

}